html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  
  background: linear-gradient(to bottom, #fffcdc, #d9a7c7);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Hind Siliguri', sans-serif;
}

html, body {
  margin: 0px;
  padding: 0px;
}

#box{
  width: 500px;
  overflow: hidden;
  background-color: rgb(248, 204, 219);
  box-shadow: 0 0 5px 3px #f06292c9;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  display: none;
}

#box h1{
  font-weight: 100;
}

#table{
  margin: 0 auto;
  border-spacing: 8px;
}

#scoreDisplay th {
  font-size: 2rem;
  padding: 5px 10px;
  box-shadow: inset 0 0 12px 2px #00bcd4;
}

.hide{
  display: none !important;
}

#navbar .selected{
  border: 2px solid rgb(229 43 105);
}

.container{
  margin: 0 auto;    
  min-height: 100%;
  width: 70%;
  box-shadow: 0 0 10px 5px #806E79 ;
  text-align: center;
  padding: 10px;
}

.title{
  font-weight: 400;
  margin: 0;
  text-align: center;
  font-size: 90px;
}

.options{
  list-style: none;
  font-size: 22px;
  border: 1px solid #6b1f78;
  background-color: #6b1f78;
  box-sizing: border-box;
  width: 70%;
  margin: 11.5px auto;
  padding: 13px;
  color: white;
  border-radius: 15px;
}

.options:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 3px #6b1f78;
  transition: 300ms;
}

.wrong{
  background-color: #18eef3;
  border-color: #18eef3;
  box-shadow: 0 0 10px 3px #18eef3;
}

.wrong:hover{
  box-shadow: 0 0 10px 2px #18eef3;
}

.correct{
  background-color: #98d156;
  border-color: #98d156;
  box-shadow: 0 0 10px 2px #72c70e;
}

.correct:hover{
  box-shadow: 0 0 10px 3px #72c70e;
}

.questions, #end h1, #scoreDisplay h1{
  margin: 0px auto 15px auto;
  font-weight: 100;
}

.close{
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 21.44px;
  background-color: #4FC3F7;
}

#table td{
  font-weight: 100;
  font-size: 2rem;
  padding: 5px 10px;
  box-shadow: inset 0 0 8px 2px #ec407a;
}

#thumbnail{
  border: 1px solid rgb(83 53 72);
  border-radius: 8px;
  padding: 10px;
  width: 350px;
  margin-top: 50px;
}

#start, #highScoresBtn{
  margin: 45px auto;
  padding: 10px 20px;
  display: block;
  background-color: #b79fe8;;
  font-size: 50px;
  color: #2e1621;
  border: none;
  font-weight: 100;
  outline: none;
  border-radius: 10px;
  transition: 300ms;
}

#start:hover, #highScoresBtn:hover, #submit:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 6px #af8ff2;
}

#highScoresBtn{
  font-size: 35px;
}

#previous, #next, #submit{
  font-size: 25px;
  outline: none;
  border: none;
  background-color: #e91e63ad;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px auto;
}

#submit{
  background-color: #b79fe8;
  color: white;
  margin-left: 10px;
}

#previous:hover, #next:hover{
box-shadow: 0 0 10px 3px #df417cba;
transition: 200ms;
cursor: pointer;
}

#status{
  display: inline-block;
  width: 30%;
  font-size: 1.5rem;
}

#back{
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #5becff;;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;
}

#back:hover{
  box-shadow: 0 0 10px 2px #1cdaf1;
}

#end h1, #scoreDisplay h1{
  font-size: 3.5rem;
}

#scores{
  background: #ff397cd1;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 4rem;
  font-weight: 300;
}

#playerInput{
  text-align: center;
  display: block;
  outline: none;
  background: #FFEBEE;
  box-shadow: inset 0 0 5px 3px #f06292c9;
  border: none;
  margin: 25px auto 0 auto;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 0;
}

#navbar span{
  border: 1px solid black;
  width: 40px;
  align-content: center;
  height: 40px;
  display: inline-grid;
  box-shadow: none !important;
  margin: 5px 3px 0 3px;
  border-radius: 6px;
}

#navbar span:hover{
  cursor: pointer;
}

@media(max-width:612px){
.title{
  line-height: 1.1;
  font-size: 70px;
}
.questions{
  font-size: 1.8rem;
  margin: 15px auto;
}
.options{
  font-size: 19px;
}
#previous, #next{
  font-size: 23px;
  margin: 10px auto;
}
#scoreDisplay th{
  font-size: 1.4rem;
}
#scoreDisplay td{
  font-size: 1.3rem;
}
}

@media(max-width:625px){
#thumbnail{
  width: 75%;
}
}

@media(max-width:570px){
#status{
  display: block;
  text-align: center;
  width: auto;
}

#submit{
  display: block;
  margin: 5px auto;
}
}

@media(max-width:530px){
#table{
  border-spacing: 5px;
}
#table td{
  font-size: 15px;
}
};